<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="gdpicture14_1_0_24" publicKeyToken="f52a2e60ad468dbb"/>
        <codeBase version="14.1.0.24" href=".\gdpicture_14_1_0_24\GdPicture.NET.14.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="gdpicture14_1_0_24" publicKeyToken="f52a2e60ad468dbb"/>
        <codeBase version="14.1.0.24" href="gdpicture_14_1_0_24/GdPicture.NET.14.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GdPicture.NET.14" publicKeyToken="f52a2e60ad468dbb"/>
        <codeBase version="14.1.0.24" href=".\gdpicture_14_1_0_24\GdPicture.NET.14.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GdPicture.NET.14" publicKeyToken="f52a2e60ad468dbb"/>
        <codeBase version="14.1.0.24" href="gdpicture_14_1_0_24/GdPicture.NET.14.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="gdpicture_14_1_0_24"/>
    </assemblyBinding>
  </runtime>
   -->
</configuration>