<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GdPicture" version="14.2.11" targetFramework="net472" />
  <package id="GdPicture.runtimes.windows" version="14.2.11" targetFramework="net472" />
  <package id="NewRelic.Agent.Api" version="10.4.0" targetFramework="net472" />
  <package id="O2S.Components.PDFRender4NET.WPF" version="5.0.1" targetFramework="net472" />
  <package id="O2S.Components.PDFView4NET.WPF" version="5.0.1" targetFramework="net472" />
</packages>